body{
    font-family: "Montserrat";
}

.navbar-brand{
    font-family: "Montserrat-Black"
}

.nav-item{
    padding: 0 28px;
}
.carousel-item{
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#hightext1{
    font-family:"Montserrat";
    font-size:4.5rem;
    font-weight:900;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -75%);
    /* position: absolute;
    top: 15rem;
    right: 55rem; */
}
.sec1button{
    position: absolute;
    padding: 5% 10%;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -2%);
     /* bottom: 9.375rem;
     left: 37.5rem; */
 }

/* ------------------------------ */

.section2{
    background-image: url("/images/image3.jpg");
  background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: 140%; */
    padding: 12% 15%;
    background-attachment: scroll;
    position: relative;
    height: auto;
    /*top: 0.5rem;
    left: 0.5rem;
    transform: translate(-0.75rem, -0.75rem); */
    /* margin-left: auto;
    margin-right: auto; */
    
}
#hightext2{
    font-family:"Montserrat";
    font-size:3.5rem;
    font-weight:600;
    color: #ffffff;
}
.sec2button{
    position: relative;
    bottom: 9.375rem;
    left: 47.5rem;
}


.section3{
    background-image: url("/images/image4.jpg");
  background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position: 140%; */
    padding: 12% 15%;
    background-attachment: scroll;
    position: relative;
    height: auto;
    
}
#hightext3{
    font-family:"Montserrat";
    font-size:3.5rem;
    font-weight:600;
    text-align: right;
    color: #ffffff;
    position: relative;
    bottom: 3.375rem;
    left: 47.5rem;
}
.sec3button{
    position: relative;
    /* bottom: 9.375rem;
    left: 37.5rem; */
}


.section4{
    background-image: url("/images/image6.jpg");
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: 140%; */
    max-width: 600px;
    padding: 12% 15%;
    margin-bottom: 12%;
    position: relative;
    left: 343px;
    height: 691px;
    background-attachment: scroll;
    
}
#hightext4{
    font-family:"Montserrat";
    font-size:3.5rem;
    font-weight:600;
    color: #000000;
    position: relative;
    bottom: 3.375rem;
    right: 20.5rem;
}
.sec4button{
    position: relative;
    top: 9.375rem;
    right: 17.5rem;
}

.BUTTON_SOP {
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    color: #FFFFFF;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 600;
    padding: 19px 45px;
    background-color: #4f5257;
    border: solid #4f5257 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
 }
 
 .BUTTON_SOP:hover {
    border: solid #4B4D50 1px;
    background: #898A8B;
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #898A8B, #4B4D50);
    background-image: -moz-linear-gradient(top, #898A8B, #4B4D50);
    background-image: -ms-linear-gradient(top, #898A8B, #4B4D50);
    background-image: -o-linear-gradient(top, #898A8B, #4B4D50);
    background-image: -webkit-linear-gradient(to bottom, #898A8B, #4B4D50);
    -webkit-border-radius: 44px;
    -moz-border-radius: 44px;
    border-radius: 44px;
    text-decoration: none;
 }

